<div class="sidebar__calendar">
    <div class="calendar__heading">
        <p>Festival Schedule / Lincoln Calling 2016</p>
    </div>
    <div class="calendar__days">
        <div class="days__day active">
            <p>THURSDAY</p>
            <h3>6</h3>
        </div>
        <div class="days__day">
            <p>FRIDAY</p>
            <h3>7</h3>
        </div>
        <div class="days__day">
            <p>SATURDAY</p>
            <h3>8</h3>
        </div>
    </div>
</div>
<div class="calendar__shows">
    <div class="shows__show active">
        <% @day1.each do |event| %>
            <p>
                <%= event[:venue_and_artist] %><br>
                <span><%= event[:start_time].upcase %></span>
            </p>
        <% end %>
    </div>
    <div class="shows__show">
        <% @day2.each do |event| %>
            <p>
                <%= event[:venue_and_artist] %><br>
                <span><%= event[:start_time].upcase %></span>
            </p>
        <% end %>
    </div>
    <div class="shows__show">
        <% @day3.each do |event| %>
            <p>
                <%= event[:venue_and_artist] %><br>
                <span><%= event[:start_time].upcase %></span>
            </p>
        <% end %>
    </div>
    <div class="shows__full-schedule">
        <span>
            <a href="/schedule">see full schedule</a>
        </span>
    </div>
</div>