<div class="sidebar__calendar">
    <div class="calendar__heading">
        <p>Festival Schedule / Lincoln Calling 2016</p>
    </div>
    <div class="calendar__days">
        <% @days.each_with_index do |day, index| %>
        <% if index == 0 %>
        <div class="days__day active" style="width: <%= 100 / @days.count.to_f %>%">
        <% else %>
        <div class="days__day" style="width: <%= 100 / @days.count.to_f %>%">
        <% end %>
            <p><%= day.strftime("%^a") %></p>
            <h3><%= day.strftime("%-d") %></h3>
        </div>
        <% end %>
    </div>
    <div class="calendar__shows">
        <% @days.each_with_index do |day, index| %>
        <% if index == 0 %>
        <div class="shows__show active">
        <% else %>
        <div class="shows__show">
        <% end %>
            <% events = VenuePresenter.new(@events.byday(day)).events_with_venue_and_artist_info %>
            <% events.each do |event| %>
                <p data-id="<%= event[:artist_id] %>">
                    <%= event[:venue_and_artist] %><br>
                    <!-- <span><%= event[:start_time].upcase %></span> -->
                </p>
            <% end %>
        </div>
        <% end %>
    </div>
    <!-- <div class="shows__full-schedule">
        <span>
            <a href="/schedule">see full schedule</a>
        </span>
    </div> -->
</div>
