<section class="content__sidebar">
    <a href="http://hearnebraska.us1.list-manage1.com/subscribe?u=8a195706cf10047ecb6091c5e&id=e8436333d5" target="_blank">
        <div class="sidebar__email">
            <span>SIGN UP FOR EMAIL UPDATES</span>
            <div class="email__image">
            </div>
        </div>
    </a>
    <div class="sidebar__calendar">
        <div class="calendar__heading">
            <p>Festival Schedule / Lincoln Calling 2016</p>
        </div>
        <div class="calendar__days">
            <div class="days__day active">
                <p>THURSDAY</p>
                <h3>6</h3>
            </div>
            <div class="days__day">
                <p>FRIDAY</p>
                <h3>7</h3>
            </div>
            <div class="days__day">
                <p>SATURDAY</p>
                <h3>8</h3>
            </div>
        </div>
    </div>
    <div class="calendar__shows">
        <div class="shows__show active">
            <% @day1.each do |event| %>
                <p>
                    <%= event[:venue_and_artist] %><br>
                    <span><%= event[:start_time].upcase %></span>
                </p>
            <% end %>
        </div>
        <div class="shows__show">
            <% @day2.each do |event| %>
                <p>
                    <%= event[:venue_and_artist] %><br>
                    <span><%= event[:start_time].upcase %></span>
                </p>
            <% end %>
        </div>
        <div class="shows__show">
            <% @day3.each do |event| %>
                <p>
                    <%= event[:venue_and_artist] %><br>
                    <span><%= event[:start_time].upcase %></span>
                </p>
            <% end %>
        </div>
    </div>
    <div class="sidebar__full-schedule">
        <span>
            <a href="/lineup">see full schedule</a>
        </span>
    </div>
</section>
