<h1>Artist sidebar</h1>

<%= @artist.name %><br>
<%= @artist.website %><br>
<%= @artist.origin %><br>
<% @artist.events.each do |event| %>
  <%= event.starttime %><br>
<% end %>
<% @artist.events.each do |event| %>
  <%= event.endtime %><br>
<% end %>
<% @artist.events.each do |event| %>
  <%= event.venue.name %><br>
<% end %>
<%= @artist.bio %><br>

