<div class="page_header">
  <div class="header_divider_top"></div>
  <div class="page_header__right">Comedy</div>
  <div class="page_header__left">LINEUP</div>
  <div class="header_divider_bottom"></div>
</div> 

<div class="artist_white_background container">
  <div class="clear artist_search_box">
    <%= form_tag(:controller => "artists", :action => "search", :id => "searchartists", :method => "post") do %>
      <div class="artist_search_box__icon icon">
        <input type="submit" value="" class="icon" style="font-family: HN-icons; font-size: 25px; background: none; border: 0px; margin-top:-10px;">
      </div>
      <div class="artist_search_box__text">
        <input class="artist_search_box__text" style="border-width:0px; font-size:30px" type="string" name="search_input" placeholder="Search Lineup">
      </div>
    <% end %>
  </div>


  <% @comedians.order(:headline_order).each do |comedian| %>
    <div class="artists" value="<%= comedian.id %>">
      <div class="no_padding col-6 col-4-tablet">
        <div class="artist_module">
          <img class="artist_module__image" src="<%= comedian.image %>"></img>
          <div class="artist_module__name"><%= comedian.name %></div>
          <div class="artist_module__origin"><%= comedian.origin %></div>
        </div>
      </div>
      </div>
  <% end %>
</div>

  <% @comedians.order(:headline_order).each do |comedian| %>
  <div id="<%= comedian.id %>" class="artistInfo visible artist_module">
    <div class="clear"></div>
      <div class="artist_profile container container-tablet">

        <div class="close_button col-1-tablet">X</div>

          <div class="col-7-tablet">
            <img class="artist_profile__image" id="<%= "artistPicture#{artist.id}" %>" src="<%= artist.image %>"></img>
          </div>
          <div class="artist_profile__scroll_bar">
          <div class="artist_info">
            <div class="artist_info__name"><%= comedian.name %></div>
            <div class="artist_info__link"><%=link_to(comedian.website, comedian.website)%></div>
            <div class="artist_info__origin"><%= comedian.origin %></div>
          </div>
          <% comedian.events.order(:start_date_time).each do |event| %>
          <div class="artist_performance_info">
            <div class="artist_performance_info__date_time"><%= event.weekday%>, <%= event.monthday %> @ <%= event.starttime %></div>
            <div class="artist_performance_info__venue"><%= event.venue.name %></div>
          </div>
          <% end %>
          <div class="no_padding">  
           <div class="artist_bio"><%= comedian.bio %></div>
          </div>
          </div>
      </div>
    </div>
  <% end %>