<%= render "titles/default",
    :category => "LINEUP",
    :page => "Comedy"
%>

<main class="body__content">
    <div class="content__artists">
        <% @artists.order(:headline_order).each do |artist| %>
            <% unless artist.hide %>
            <div class="artists__artist" data-id="<%= artist.id %>">
                <div class="artist__image" style="background-image: url(<%= artist.image %>)">

                </div>
                <div class="artist__name">
                    <div class="name__text">
                        <h5><%= artist.name %></h5>
                    </div>
                </div>
                <div class="artist__origin">
                    <%= artist.origin %>
                </div>
            </div>
            <% end %>
        <% end %>
    </div>
</main>

<%= render "overlay/artist" %>
