<%= render "titles/default",
    :category => "LINEUP",
    :page => "Artists"
%>

<main class="body__content">
    <div class="content__search">
        <div class="search__box">
            <%= form_tag(:controller => "artists", :action => "search", :id => "searchartists", :method => "post") do %>
                <input class="box__query" type="text" name="search_input" value="<%= @search %>" placeholder="Search for bands, Nebraska cities, or states...">
                <input class="box__submit" type="submit" value="" class="icon">
            <% end %>
        </div>
    </div>
    <div class="content__artists">
        <% @headliners.order(:headline_order).each do |artist| %>
            <div class="artists__artist" data-id="<%= artist.id %>">
                <div class="artist__image" style="background-image: url(<%= artist.image %>)">
                
                </div>
                <div class="artist__name">
                    <div class="name__text">
                        <h5><%= artist.name %></h5>
                    </div>
                </div>
                <div class="artist__origin">
                    <%= artist.origin %>
                </div>
            </div>
        <% end %>
        <% @supporting_acts.order(:headline_order).each do |artist| %>
            <div class="artists__artist" data-id="<%= artist.id %>">
                <div class="artist__image" style="background-image: url(<%= artist.image %>)">
                
                </div>
                <div class="artist__name">
                    <div class="name__text">
                        <h5><%= artist.name %></h5>
                    </div>
                </div>
                <div class="artist__origin">
                    <%= artist.origin %>
                </div>
            </div>
        <% end %>
    </div>
</main>

<%= render "overlay/artist" %>