<div class="page_header__left">Info</div>
<img class="news__image" src=<%=@article.image%>></div>
<div class="news_container container">
  
  <div class="news_single__title"><%= @article.title %></div>
  <div class="news_single__content"><%= @article.article_content %>
  </div>
</div>

<h6>by <%= @article.user_access.user_full_name %> | published <%= @article.monthdayyear %>
<img src="<%= @article.user_access.profile_pic %>" alt="Profile Pic"><%= @article.user_access.blurb %>
  
