<!-- once we get a web view, author bio, publish date also important -->
<div class="page_header__left">Info</div>

<img class="visitors_guide_article__image" src=<%=@article.image%>>
 

<div class="visitors_guide_article container">
  
  <div class="visitors_guide_article__title"><%= @article.title %></div>
  
  <div class="visitors_guide_article__content"><%= @article.article_content %>
  </div>

  <div class="writer clear">
    <img class="writer__image" src=<%= @article.user_access.profile_pic %>>
    <div class="writer__info"><%= @article.user_access.user_full_name %></div>
  </div>

  <div class="clear">
    <div class="col-10">
      <div class="social_footer__left">SHARE</div>
    </div>
    <div class="col-2">
      <div class="social_footer__right">icon, icon</div>
    </div>
  </div>
</div>

