<%= render "titles/default",
    :category => "INFO",
    :page => "Visitors"
%>

<div class="main__content">
    <div class="content__articles">
        <%= paginate @articles, :window => 2, :theme => 'lincoln_calling_pagination' %> 
        <% @articles.each do |article| %>
            <% link_to article do %>
                <div class="articles__article">
                    <div class="article__image" style="background-image: url(<%= article.image %>)">
                    </div>
                    <div class="article__title">
                        <%= truncate(article.title, length: 70) %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
    <div class="content__divider">
    </div>
    <%= render "sidebars/events" %>
</div>
