<%= render "titles/default",
    :category => "VISITORS",
    :page => @article.title
%>

<div class="main__content">
    <div class="content__content content--article">
        <div class="article__header-image" style="background-image: url(<%= @article.image %>)">
        </div>
        <div class="article--container">
            <header class="article__main-info">
                <div class="main-info__icon">
                    
                </div>
                <div class="main-info__headline-byline">
                    <div class="headline-byline__headline">
                        <h1><%= @article.title %></h1>
                    </div>
                    <div class="headline-byline__byline">
                        <p><em>by <%= @article.user_access.user_full_name %> | <%= @article.monthdayyear %></em></p>
                    </div>
                </div>
            </header>
            <main class="article__story">
                <%= raw @markdown.render(@article.article_content) %>
            </main>
            <div class="article__tagline">
                <div class="tagline__image" style="background-image: url(<%= @article.user_access.profile_pic %>)">
                </div>
                <div class="tagline__tagline">
                    <em><%= @article.user_access.blurb %></em>
                </div>
            </div>
        </div>
        <div class="article__share">
            <div class="share__text">
                <h4>SHARE</h4>
                <span></span>
            </div>
            <div class="share__buttons">
                <div class="buttons__button buttons--twitter">
                    <a href="https://twitter.com/intent/tweet?url=http://www.lincolncalling.com/news/<%= @article.slug %>&text=<%= truncate(@article.title, length: 95) %>&via=lincolncalling_" target="_blank">
                        <img src="<%= image_url('twitter.png') %>" srcset="<%= image_url('twitter.png') %> 1x, <%= image_url('twitter_2x.png') %> 2x" alt="Share on Twitter">
                    </a>
                </div>
                <div class="buttons__button buttons--facebook">
                    <a href="https://facebook.com/sharer.php?u=http://www.lincolncalling.com/news/<%= @article.slug %>" target="_blank">
                        <img src="<%= image_url('facebook.png') %>" srcset="<%= image_url('facebook.png') %> 1x, <%= image_url('facebook_2x.png') %> 2x" alt="Share on Facebook">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content__divider">
    </div>
    <section class="content__sidebar">
        <%= render "sidebars/email" %>
        <%= render "sidebars/events" %>
    </section>
</div>