<h1>Lineup</h1>
<h2>Schedule</h2>
<% @venues.each do |venue| %>
  <h3><%= venue.name %></h3>
  <% venue.events.each do |event| %>
    <p><%= event.weekday%>, <%= event.monthday%>
    <p><%= event.starttime %> to <%=event.endtime%></p>
    <p><%= (Time.parse(event.endtime) - Time.parse(event.starttime)) / 3600 %></p>
    <p><%= event.artist.name%> 
    <p> minimum age: <%= event.minimum_age %></p>
  <%end%>
<%end%>



