<h1>VIEW ALL EVENTS</h1>
<% @events.each do |event| %>
  <p><%= event.venue.name %></p>
  <p><%= event.artist.name%>
<!-- %b=abbr month name/ %e=digit day of month / -->
  <p><%= event.weekday%>, <%= event.monthday%> 
  <p><%= event.starttime %> 
  to <%=event.endtime%></p>
  <p> minimum age: <%= event.minimum_age %></p>
<%end%>

