<%= render "titles/default",
    :category => "LINEUP",
    :page => "Schedule"
%>

<div class="body--schedule">
    <header class="schedule__header">
        <div class="header__days-plan">
            <div class="days-plan__days">
                <% @days.each_with_index do |day, index| %>
                    <% if params[:day] %>
                        <% if /.+?(?=,)/.match(day)[0].downcase == params[:day] %>
                            <div class="days__day active">
                        <% else %>
                            <div class="days__day">
                        <% end %>
                            <%= day %>
                    <% else %>
                        <% if @first_event.strftime("%A, %b. %e") == day %>
                            <div class="days__day active">
                        <% else %>
                            <div class="days__day">
                        <% end %>
                            <%= day %>
                    <% end %>

                    </div>
                <% end %>
                <div class="days__arrow">
                    <img src="<%= image_url('down-arrow.png') %>" srcset="<%= image_url('down-arrow.png') %> 1x, <%= image_url('down-arrow_2x.png') %> 2x" alt="down arrow"/>
                </div>
                <div class="days__select">
                    <% @days.each_with_index do |day, index| %>
                        <div class="select__day" data-date="<%= day %>">
                            <%= day %>
                            <a href="/schedule/<%= /.+?(?=,)/.match(day)[0].downcase %>"></a>
                        </div>
                    <% end %>
                </div>
            </div>
            <!-- <div class="days-plan__plan">
                <div class="plan__text">
                    PLAN YOUR FESTIVAL
                </div>
            </div> -->
        </div>
    </header>
    <nav class="schedule__schedule-nav">
        <div class="schedule-nav__left hide">
            <img src="<%= image_url('left-arrow.png') %>" srcset="<%= image_url('left-arrow.png') %> 1x, <%= image_url('left-arrow_2x.png') %> 2x" alt="previous"/>
        </div>
        <div class="schedule-nav__venues">
            <% @venues.each do |venue| %>
            <div class="venues__venue">
                <div class="venue__text">
                    <%= venue.name %>
                </div>
            </div>
            <% end %>
        </div>
        <div class="schedule-nav__right">
            <img src="<%= image_url('right-arrow.png') %>" srcset="<%= image_url('right-arrow.png') %> 1x, <%= image_url('right-arrow_2x.png') %> 2x" alt="next"/>
        </div>
    </nav>
    <main class="schedule__concerts" style="height: <%= @schedule_height %>px">
        <% if @first_event.strftime("%M") == "00" %>
        <div class="concerts__hours">
        <% else %>
        <% margin_top_hours = (@first_event.strftime("%M").to_f / 60) * 120 %>
        <% if margin_top_hours > 60 %>
            <% margin_top_hours = margin_top_hours - 60 %>
        <% end %>
        <div class="concerts__hours" style="margin-top: <%= margin_top_hours %>px;">
        <% end %>
        <% hours = (((@last_event - @first_event) / 60) / 60).ceil + 1 %>
        <% hours.times do |i| %>
            <div class="hours__hour">
                <% if @first_event.strftime("%M") == "00" %>
                <div class="hour__text">
                    <%= (@first_event + i.hours).strftime("%-l %P") %>
                </div>
                <% else %>
                <div class="hour__text">
                    <%= (@first_event + (i + 1).hours).strftime("%-l %P") %>
                </div>
                <% end %>
                <% if @first_event.strftime("%M") == "00" %>
                <% unless (hours - 1 == i) || (i == 0) %>
                <div class="hour__line" style="border-top: 1px solid #c9c9c9;">
                <% end %>
                <% else %>
                <% unless hours - 1 == i %>
                <div class="hour__line" style="border-top: 1px solid #c9c9c9;">
                <% end %>
                <% end %>
                <% unless (hours - 1 == i) || (i == 0 && @first_event.strftime("%M") == "00") %>
                </div>
                <% end %>
            </div>
        <% end %>
        </div>
        <%= raw @schedule_string %>
    </main>
</div>

<%= render "overlay/artist" %>

<script>

Element.prototype.listen = function(event, callback) {
    if(this.attachEvent) {
        this.attachEvent("on" + event, function() {callback.call(this);});
    } else if(this.addEventListener) {
        this.addEventListener(event, callback, false);
    }
};

Element.prototype.addClass = function(className) {
    if(this.hasClass(className) == false) {
        this.className += ' ' + className;
    }

}

Element.prototype.removeClass = function(className) {
    if(this.hasClass(className)) {
        var rx = new RegExp('(\\s|^)' + className + '(\\s|$)', 'g');
        this.className = this.className.replace(rx, ' ');
    }
}

Element.prototype.hasClass = function(className) {
    var rx = new RegExp('(\\s|^)' + className + '(\\s|$)');

    if(this.className.match(rx)) {
        return true;
    }

    return false;
}

Element.prototype.toggleClass = function(className) {
    if(this.hasClass(className)) {
        this.removeClass(className);
    } else {
        this.addClass(className);
    }
}

function getById(id) {
    return document.getElementById(id);
}

function getByClass(klass) {
    return document.getElementsByClassName(klass);
}

function getOneClass(klass) {
    return document.getElementsByClassName(klass)[0];
}

window.onload = setupDom;
window.onresize = resizeDom;
window.onscroll = doOnScroll;

function setupDom() {
    var elements = document.querySelectorAll('.schedule__schedule-nav'),
        element = {};

    for (var i = 0, len = elements.length; i < len; i++) {
        element = {
            element: elements[i],
            top: getDistanceFromTop(elements[i])
        }
        animations.elements.push(element);
    }

    doOnScroll();
}

function resizeDom() {
    animations.elements.forEach(function(element, index, array) {
        element.top = getDistanceFromTop(element.element);
    });
    animations.testScroll();
}

function doOnScroll() {
    animations.testScroll();
}

var animations = {
    iconOffset: 0,
    elements: [],
    testScroll: function () {
        var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;

        this.elements.forEach(function(element, index, array) {
            if (element.top < scrollTop) {
                if (element.element.hasClass('fixed') == false) {
                    element.element.addClass('fixed');
                    getOneClass('schedule__header').addClass('fixed');
                }
            } else {
                element.element.removeClass('fixed');
                getOneClass('schedule__header').removeClass('fixed');
            }
        });
    }
};

function getDistanceFromTop(element) {
    var yPos = 0;
    getOneClass('schedule__schedule-nav').removeClass('fixed');
    getOneClass('schedule__header').removeClass('fixed');
    while(element) {
        yPos += (element.offsetTop);
        element = element.offsetParent;
    }
    getOneClass('schedule__schedule-nav').addClass('fixed');
    getOneClass('schedule__header').addClass('fixed');

    return yPos;
}

</script>
