<div class="page_header">
  <div class="header_divider_top"></div>
  <div class="page_header__right"><%= @article.title %></div>
  <div class="page_header__left">NEWS</div>
  <div class="header_divider_bottom"></div>
</div> 
<div class="clear">
  <div class="news_single_container container col-8-tablet">

    <img class="news_single__image" src="<%= @article.image %>">

    <div class="news_single__icon"></div>
    
    <div class="news_single__title"><%= @article.title %></div>

    <div class="news_single__byline">by <%= @article.user_access.user_full_name %> | <%= @article.monthdayyear %></div>
    
    <div class="news_single__content">
      <%= @article.article_content %>
    </div>

    <div class="writer clear">
      <img class="writer__image" src="<%= @article.user_access.profile_pic %>">
      <div class="writer__info"><%= @article.user_access.blurb %></div>
    </div>

    <div class="social_footer__top"></div>
    <div class="social_footer__right icon"> </div>
    <div class="social_footer__left">SHARE</div>
    <div class="social_footer__bottom"></div>
  </div>

  <div class="col-4-tablet">
    <div class="home_emails">
      <div id="home_computer_icon" class="icon"></div>
      <div id="home_email_text">SIGN UP FOR EMAIL UPDATES</div>
    </div>
  </div>

      <!-- Show Sidebar -->
  <div class="col-4-tablet no_padding">
    <div class="side_bar">
      <div class="side_bar__title">
      Festival Schedule/ Lincoln Calling 2016
      </div>
      <div class="clear dates">
        <div class="col-4 no_padding">
          <a href="#" value="day1" class="day_link day_link--left day_link--selected">
            <span href="#" class="day_link__day">Thursday</span>
            <span href="#" class="day_link__date">6</span>
          </a>  
        </div>
        <div class="col-4 no_padding">
          <a href="#" value="day2" class="day_link day_link--mid">
            <span href="#" class="day_link__day">Friday</span>
            <span href="#" class="day_link__date">7</span>
          </a> 
        </div>
        <div class="col-4 no_padding">
          <a href="#" value="day3" class="day_link day_link--right">
            <span href="#" class="day_link__day">Saturday</span>
            <span href="#" class="day_link__date">8</span>
          </a>
        </div>
      </div>
      <div class="concert">
         <% @day1.each do |event| %>
            <div class="concert__name day1 shows" style="display: block;"><%= event[:venue_and_artist] %></div>
            <div class="concert__time day1 shows" style="display: block;"><%= event[:start_time] %></div>
          <%end%>

          <% @day2.each do |event| %>
            <div class="concert__name day2 shows" style="display: none;"><%= event[:venue_and_artist] %></div>
            <div class="concert__time day2 shows" style="display: none;"><%= event[:start_time] %></div>
          <%end%>

          <% @day3.each do |event| %>
            <div class="concert__name day3 shows" style="display: none;"><%= event[:venue_and_artist] %></div>
            <div class="concert__time day3 shows" style="display: none;"><%= event[:start_time] %></div>
          <%end%>
      </div>
      <a href="/events/list" class="full_schedule">see full schedule</a>
    </div>
  </div>
</div>




