<div class="page_header">
  <div class="header_divider_top"></div>
  <div class="page_header__right"><%= @article.title %></div>
  <div class="page_header__left">NEWS</div>
  <div class="header_divider_bottom"></div>
</div> 
<div class="clear">
  <div class="news_single_container container col-8-tablet">

    <img class="news_single__image" src="<%= @article.image %>">

    <div class="news_single__icon"></div>
    
    <div class="news_single__title"><%= @article.title %></div>

    <div class="news_single__byline">by <%= @article.user_access.user_full_name %> | <%= @article.monthdayyear %></div>
    
    <div class="news_single__content">
      <%= @article.article_content %>
    </div>

    <div class="writer clear">
      <img class="writer__image" src="<%= @article.user_access.profile_pic %>">
      <div class="writer__info"><%= @article.user_access.blurb %></div>
    </div>

    <div class="social_footer__top"></div>
    <div class="social_footer__right icon"> </div>
    <div class="social_footer__left">SHARE</div>
    <div class="social_footer__bottom"></div>
  </div>

  <div class="col-4-tablet">
    <div class="home_emails">
      <div id="home_computer_icon" class="icon"></div>
      <div id="home_email_text">SIGN UP FOR EMAIL UPDATES</div>
    </div>
  </div>

      <!-- Show Sidebar -->
  <div class="col-4-tablet no_padding">
     <%= render "sidebars/events" %>
  </div>




