<h1>Sponsors</h1>


<% @sponsors.order(:sponsor_order).each do |sponsor| %>
  <% if sponsor.premier == true %>
    <%= sponsor.logo %>
    <%= sponsor.name %>
    <%= sponsor.description %>
  <% end %>
<% end %>

<% @sponsors.order(:sponsor_order).each do |sponsor| %>
  <% if sponsor.premier == false %>
    <%= sponsor.logo %>
    <%= sponsor.name %>
    <%= sponsor.description %>
  <% end %>
<% end %>






<!--    create_table "sponsors", force: :cascade do |t|
    t.string   "name"
    t.string   "website"
    t.boolean  "premier"
    t.text     "description"
    t.integer  "sponsor_order"
    t.datetime "created_at",    null: false
    t.datetime "updated_at",    null: false
    t.string   "logo"
  end -->