<%= render "titles/default",
    :category => "SPONSORS",
    :page => nil
%>

<div class="main__content">
    <div class="content__content content--sponsors">
        <div class="sponsors__sponsors">
            <div class="sponsors__sponsor premier">
                <a href="http://allocommunications.com" target="_blank">
                <img src="<%= image_url('allo-color.png') %>" srcset="<%= image_url('allo-color.png') %> 1x, <%= image_url('allo-color_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="http://lincoln.org" target="_blank">
                <img src="<%= image_url('lincoln-cvb-color.png') %>" srcset="<%= image_url('lincoln-cvb-color.png') %> 1x, <%= image_url('lincoln-cvb-color_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="http://visitnebraska.com/" target="_blank">
                <img src="<%= image_url('visit-nebraska.png') %>" srcset="<%= image_url('visit-nebraska.png') %> 1x, <%= image_url('visit-nebraska_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="http://www.lcf.org/" target="_blank">
                <img src="<%= image_url('lincoln-community-foundation.png') %>" srcset="<%= image_url('lincoln-community-foundation.png') %> 1x, <%= image_url('lincoln-community-foundation_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="http://thenbcbank.com/" target="_blank">
                <img src="<%= image_url('nbc.png') %>" srcset="<%= image_url('nbc.png') %> 1x, <%= image_url('nbc_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="http://www.ubt.com" target="_blank">
                <img src="<%= image_url('ubt.png') %>" srcset="<%= image_url('ubt.png') %> 1x, <%= image_url('ubt_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="https://www.penlink.com" target="_blank">
                <img src="<%= image_url('pen-link.png') %>" srcset="<%= image_url('pen-link.png') %> 1x, <%= image_url('pen-link_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="http://www.firespring.com" target="_blank">
                <img src="<%= image_url('firespring.png') %>" srcset="<%= image_url('firespring.png') %> 1x, <%= image_url('firespring_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="https://www.nelottery.com" target="_blank">
                <img src="<%= image_url('lottery.png') %>" srcset="<%= image_url('lottery.png') %> 1x, <%= image_url('lottery_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="http://downtownlincoln.org" target="_blank">
                <img src="<%= image_url('downtown-lincoln.png') %>" srcset="<%= image_url('downtown-lincoln.png') %> 1x, <%= image_url('downtown-lincoln_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="http://www.eaglegrp.com" target="_blank">
                <img src="<%= image_url('eagle.png') %>" srcset="<%= image_url('eagle.png') %> 1x, <%= image_url('eagle_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="http://lincolnindustries.com" target="_blank">
                <img src="<%= image_url('lincoln-industries.png') %>" srcset="<%= image_url('lincoln-industries.png') %> 1x, <%= image_url('lincoln-industries_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="http://assurity.com" target="_blank">
                <img src="<%= image_url('assurity.png') %>" srcset="<%= image_url('assurity.png') %> 1x, <%= image_url('assurity_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="http://tetradpropertygroup.com" target="_blank">
                <img src="<%= image_url('tetrad.png') %>" srcset="<%= image_url('tetrad.png') %> 1x, <%= image_url('tetrad_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="https://www.bulubox.com" target="_blank">
                <img src="<%= image_url('bulu-box.png') %>" srcset="<%= image_url('bulu-box.png') %> 1x, <%= image_url('bulu-box_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="http://tetradpropertygroup.com" target="_blank">
                <img src="<%= image_url('tetrad.png') %>" srcset="<%= image_url('tetrad.png') %> 1x, <%= image_url('tetrad_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="https://www.bulubox.com" target="_blank">
                <img src="<%= image_url('bulu-box.png') %>" srcset="<%= image_url('bulu-box.png') %> 1x, <%= image_url('bulu-box_2x.png') %> 2x">
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="http://tetradpropertygroup.com" target="_blank">
                <img src="<%= image_url('courtyard.png') %>"/>
                </a>
            </div>
            <div class="sponsors__sponsor">
                <a href="https://www.bulubox.com" target="_blank">
                <img src="<%= image_url('cornhusker.png') %>"/>
                </a>
            </div>
        </div>
    </div>
    <div class="content__divider">
    </div>
    <section class="content__sidebar">
        <%= render "sidebars/email" %>
        <a href="/" class="sidebar__image"><img src="<%= image_url('sidebar.png') %>" alt="Oct. 6-8"/></a>
    </section>
</div>
