<%= render "titles/default",
    :category => "INFO",
    :page => "Venues"
%>

<div class="main__content">
    <div class="content__content content--venues">
        <% @venues.each do |venue| %>
            <div class="venues__venue">
                <div class="venue__name">
                    <h3><%= venue.name %></h3>
                </div>
                <div class="venue__address">
                    <p><strong><%= venue.address %></strong></p>
                </div>
                <% if venue.img.url %>
                <div class="venue__image">
                     <img src="<%= venue.img.url %>" alt="<%= venue.name %>"/>
                </div>
                <% end %>
                <div class="venue__info">
                    <p><%= venue.info %></p>
                </div>
            </div>
        <% end %>
    </div>
    <div class="content__divider">
    </div>
    <section class="content__sidebar">
        <%= render "sidebars/email" %>
        <%= render "sidebars/events" %>
    </section>
</div>
