<div class="bands_and_tickets">
  <div class="bands">
    <div class="bands__headliners">
      <% @headlineartists.each do |artist| %>
        <% if artist.headline_order < @headlineartists.length %>
          <%= artist.name%> + 
        <% else %>
          <%= artist.name%>
        <% end %>
      <% end%>
    </div>
    <div class="bands__others">
      <% @otherartists.each do |artist| %>
        <% if artist == @otherartists[-1]%>
          <%= artist.name %>
        <% else %>
          <%= artist.name %> + 
        <% end %>
      <% end%>
    </div>
  </div>
  <div class="clear tickets">
    <div class="col-6 col-3-tablet no_padding">
      <a class="ticket ticket--odd">
        <span class="ticket__title">3-Day Passes</span>
        <span class="ticket__price">$30</span>
      </a>
    </div>

    <div class="col-6 col-3-tablet no_padding">
      <a class="ticket ticket--even ticket--sold_out">
        <span class="ticket__title">THURSDAY</span>
        <span class="ticket__price">$15</span>
      </a>
    </div>

    <div class="col-6 col-3-tablet no_padding">
      <a class="ticket ticket--odd">
        <span class="ticket__title">FRIDAY</span>
        <span class="ticket__price">$15</span>
      </a>
    </div>

    <div class="col-6 col-3-tablet no_padding">
      <a class="ticket ticket--even">
        <span class="ticket__title">SATURDAY</span>
        <span class="ticket__price">$15</span>
      </a>
    </div>
  </div>
</div>

<div class="clear">
  <div class="col-8-tablet">
    <div class="clear home_news">
      <img src=<%= @featurearticle.image%> class="col-6 no_padding home_news__img">
      <div class="col-6 no_padding"> 
      <div class="home_news__headlines">
        <a href="/news/<%=@featurearticle.id%>" class="home_link">
          <div class="home_news__headlines home_news__headlines--selected"> 
            <%= @featurearticle.title%></div></a>
        <% @articles.each do |article| %>
          <a href="/news/<%=article.id%>"class="home_link"><div class="home_news__headlines home_news__headlines--tablet"><%= article.title %></div></a>          
        <% end %>
      </div>
      </div>
      <div class="home_news__more">
        <a href="/news" class="home_news__more__text">see more news</a>
      </div>
    </div>
  </div>
  <div class="col-4-tablet no_padding">
    <a href="http://hearnebraska.us1.list-manage1.com/subscribe?u=8a195706cf10047ecb6091c5e&id=e8436333d5" class="mailchimp_link">
      <div class="home_emails">
        <div id="home_computer_icon" class="icon"></div>
        <div id="home_email_text">SIGN UP FOR EMAIL UPDATES</div>
      </div>
    </a>

    <div class="side_bar">
      <div class="side_bar__title">
      Festival Schedule/ Lincoln Calling 2016
      </div>
      <div class="clear dates">
        <div class="col-4 no_padding">
          <a href="#" class="day_link day_link--left day_link--selected">
            <span href="#" class="day_link__day">Thursday</span>
            <span href="#" class="day_link__date">6</span>
          </a>  
        </div>
        <div class="col-4 no_padding">
          <a href="#" class="day_link day_link--mid">
            <span href="#" class="day_link__day">Friday</span>
            <span href="#" class="day_link__date">7</span>
          </a> 
        </div>
        <div class="col-4 no_padding">
          <a href="#" class="day_link day_link--right">
            <span href="#" class="day_link__day">Saturday</span>
            <span href="#" class="day_link__date">8</span>
          </a>
        </div>
      </div>
      <div class="concert">
        <% day = "Thursday" %>
        <% daysevents = @events.byday(day) %>
        <% if daysevents %>
          <% daysevents.each do |event| %>
            <div class="concert__name"><%= event.artist.name%> at <%= event.venue.    name %></div>
            <div class="concert__time"><%= event.starttime %></div>
          <%end%>
        <%end%>
      </div>
      <a href="/events/list" class="full_schedule">see full schedule</a>
    </div>
  </div>
</div>