<main class="body__main">
    <section class="main__hero">
        <div class="tickets__link">
            <h2>
                <a href="http://lincolncalling2016.eventbrite.com/?aff=LCWebsite">GET YOUR TICKETS</a>
            </h2>
        </div>
        <div class="hero__headliners">
            <h2>
                <% @headliners.each do |artist| %>
                    <% if artist.headline_order < @headliners.length %>
                        <a href="/overlay/artists/<%= artist.id %>" data-id="<%= artist.id %>"><%= artist.name %></a> +
                    <% else %>
                        <a href="/overlay/artists/<%= artist.id %>" data-id="<%= artist.id %>"><%= artist.name %></a>
                    <% end %>
                <% end %>
            </h2>
        </div>
        <div class="hero__supporting">
            <h3>
                <a href="/artists">SEE THE FULL LINEUP</a>
            </h3>
        </div>
        <div class="hero__tickets">
            <% @tickets.each do |group|%>
                <div class="tickets--container">
                <% group.each_with_index do |category, index| %>
                    <% if index == 0 %>
                        <header class="tickets__header">
                            <p><%= category %></p>
                        </header>
                        <!-- <div class="tickets__button">
                            GET TICKETS
                        </div> -->
                    <% else %>
                        <div class="ticket--container">
                        <% category.each do |ticket| %>
                            <% if ticket.sold_out == true %>
                                <div class="tickets__ticket sold-out">
                                    <h2><%= ticket.format_price %></h2>
                                    <h3><%= ticket.name %></h3>
                                    <% if ticket.description %>
                                        <p><%= ticket.description %>
                                    <% end %>
                                </div>
                            <% elsif ticket.publication_date >= DateTime.now %>
                                <div class="tickets__ticket not-yet-available">   
                                    <h2><%= ticket.format_price %></h2>
                                    <h3><%= ticket.name %></h3>
                                    <% if ticket.description %>
                                        <p><%= ticket.description %>
                                    <% end %>
                                </div>
                            <% else %>
                                <div class="tickets__ticket">      
                                    <a href="<%= ticket.link %>" target="_blank">
                                        <h2><%= ticket.format_price %></h2>
                                        <h3><%= ticket.name %></h3>
                                        <% if ticket.description %>
                                            <p><%= ticket.description %>
                                        <% end %>
                                    </a>
                                </div>
                            <% end %>
                        <% end %>
                        </div>
                    <% end %>
                <% end %>
                </div>
            <% end %>
        </div>
    </section>
    <div class="main__content">
        <section class="content__content content--news">
            <div class="news__images">
                <% @articles.each_with_index do |image, index| %>
                    <% if image == @articles[0] %>
                        <div class="images__news active" data-index="<%= index %>" style="background-image: url(<%= image.image %>)">
                        </div>
                    <% else %>
                        <div class="images__news" data-index="<%= index %>" style="background-image: url(<%= image.image %>)">
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="news__headlines">
                <% @articles.each_with_index do |headline, index| %>
                    <% if headline == @articles[0] %>
                        <% active = "active" %>
                    <% end %>
                    <a href="/news/<%= headline.slug %>">
                        <h4 class="headlines__text <%= active %>" data-index="<%= index %>">
                            <%= headline.title %>
                        </h4>
                    </a>
                <% end %>
                <div class="headlines__see-more-news">
                    <a href="/news"><span>see more news</span></a>
                </div>
            </div>
        </section>
        <div class="content__divider">
        </div>
        <section class="content__sidebar">
            <%= render "sidebars/email" %>
            <!-- <%= render "sidebars/events" %> -->
            <a href="/" class="sidebar__image"><img src="<%= image_url('sidebar.png') %>" alt="Oct. 6-8"/></a>
        </section>
    </div>
</main>

<%= render "overlay/artist" %>
