<main class="body__main">
    <section class="main__hero">
        <div class="hero__video">
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/NR85IQQ-Hyk" frameborder="0" allowfullscreen></iframe>
        </div>
    </section>
    <div class="main__content">
        <section class="content__content content--news">
            <div class="news__images">
                <% @articles.each_with_index do |image, index| %>
                    <% if image == @articles[0] %>
                        <div class="images__news active" data-index="<%= index %>" style="background-image: url(<%= image.image %>)">
                        </div>
                    <% else %>
                        <div class="images__news" data-index="<%= index %>" style="background-image: url(<%= image.image %>)">
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="news__headlines">
                <% @articles.each_with_index do |headline, index| %>
                    <% if headline == @articles[0] %>
                        <% active = "active" %>
                    <% end %>
                    <a href="/news/<%= headline.slug %>">
                        <h4 class="headlines__text <%= active %>" data-index="<%= index %>">
                            <%= headline.title %>
                        </h4>
                    </a>
                <% end %>
                <div class="headlines__see-more-news">
                    <a href="/news"><span>see more news</span></a>
                </div>
            </div>
        </section>
        <div class="content__divider">
        </div>
        <section class="content__sidebar">
            <%= render "sidebars/email" %>
        </section>
    </div>
</main>

<%= render "overlay/artist" %>
