<main class="body__main">
    <section class="main__hero">
        <div class="hero__headliners">
            <h2>
                <% @headlineartists.each do |artist| %>
                    <% if artist.headline_order < @headlineartists.length %>
                        <a href="/overlay/artists/<%= artist.id %>"><%= artist.name %></a> +
                    <% else %>
                        <a href="/overlay/artists/<%= artist.id %>"><%= artist.name %></a>
                    <% end %>
                <% end %>
            </h2>
        </div>
        <div class="hero__supporting">
            <h3>
                <% @otherartists.each do |artist| %>
                    <% if artist == @otherartists[-1] %>
                        <a href="/overlay/artists/<%= artist.id %>"><%= artist.name %></a>
                    <% else %>
                        <a href="/overlay/artists/<%= artist.id %>"><%= artist.name %></a> +
                    <% end %>
                <% end %>
            </h3>
        </div>
        <div class="hero__tickets">
            <% @tickets.each do |ticket|%>
                <% if ticket.sold_out == true %>
                    <div class="tickets__ticket sold-out">      
                        <div class="sold-out__label">
                            sold out
                        </div>
                        <h3><%= ticket.name %></h3>
                        <h2><%= ticket.format_price %></h2>
                    </div>
                <% else %>
                    <div class="tickets__ticket">      
                        <a href="<%= ticket.link %>">
                            <h3><%= ticket.name %></h3>
                            <h2><%= ticket.format_price %></h2>
                        </a>
                    </div>
                <% end %>
            <% end %>
        </div>
    </section>
    <div class="main__content">
        <section class="content__content content--news">
            <div class="news__images">
                <% @articles.each_with_index do |image, index| %>
                    <% if image == @articles[0] %>  
                        <div class="images__news active" data-index="<%= index %>" style="background-image: url(<%= image.image %>)">
                        </div>
                    <% else %>
                        <div class="images__news" data-index="<%= index %>" style="background-image: url(<%= image.image %>)">
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="news__headlines">
                <% @articles.each_with_index do |headline, index| %>
                    <% if headline == @articles[0] %>
                        <% active = "active" %>
                    <% end %>
                    <a href="/news/<%= headline.id %>">
                        <h4 class="headlines__text <%= active %>" data-index="<%= index %>">
                            <%= headline.title %>
                        </h4>
                    </a>
                <% end %>
                <div class="headlines__see-more-news">
                    <a href="/news"><span>see more news</span></a>
                </div>
            </div>
        </section>
        <div class="content__divider">
        </div>
        <section class="content__sidebar">
            <%= render "sidebars/email" %>
            <%= render "sidebars/events" %>
        </section>
    </div>
</main>
