<div class="bands_and_tickets">
  <div class="bands">
    <div class="bands__headliners">
      <% @headlineartists.each do |artist| %>
        <% if artist.headline_order < @headlineartists.length %>
          <%= artist.name%> + 
        <% else %>
          <%= artist.name%>
        <% end %>
      <% end%>
    </div>
    <div class="bands__others">
      <% @otherartists.each do |artist| %>
        <% if artist == @otherartists[-1]%>
          <%= artist.name %>
        <% else %>
          <%= artist.name %> + 
        <% end %>
      <% end%>
    </div>
  </div>
  <div class="clear tickets">
    <% @tickets.each do |event|%>
      <% if event.sold_out != true %>
        <div class="col-6 col-3-tablet no_padding">      
          <a class="ticket ticket--even ticket--odd" href="<%= event.link %>">
            <span class="ticket__title"><%= event.name%></span>
            <span class="ticket__price"><%= event.format_price%></span>
          </a>
        </div>
      <% else%>
        <div class="col-6 col-3-tablet no_padding">      
          <a class="ticket ticket--even ticket--odd ticket--sold_out" href="<%= event.link %>">
            <span class="ticket__title"><%= event.name%></span>
            <span class="ticket__price"><%= event.format_price%></span>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="clear">
  <div class="col-8-tablet">
    <div class="clear home_news">
      <% @articles.each do |image| %>
        <% if image == @articles[0] %>  
          <img id ="image_<%=image.id%>" src=<%= image.image %> class="col-6 no_padding home_news__img feature_image">
        <% else %>
          <img id ="image_<%=image.id%>" src=<%= image.image %> class="col-6 no_padding home_news__img is_hidden">
        <% end %>
      <% end %>
      <div class="col-6 no_padding"> 
      <div class="home_news__headlines">
        <% @articles.each do |headline| %>
          <%if headline == @articles[0] %>
            <a href="/news/<%=headline.id%>" class="home_link">
            <div id ="<%=headline.id%>" class="home_news__headlines home_news__headlines--headline home_news__headlines--selected"><%= headline.title%></div></a>
          <% else %>
            <a href="/news/<%=headline.id%>"class="home_link"><div id ="<%=headline.id%>" class="home_news__headlines home_news__headlines--headline headline_for_<%=headline.id%> home_news__headlines--tablet"><%= headline.title %></div></a>  
          <% end %>
        <% end %>
      </div>
      </div>
      <div class="home_news__more">
        <a href="/news" class="home_news__more__text">see more news</a>
      </div>
    </div>
  </div>
  <div class="col-4-tablet no_padding">
    <a href="http://hearnebraska.us1.list-manage1.com/subscribe?u=8a195706cf10047ecb6091c5e&id=e8436333d5" class="mailchimp_link">
      <div class="home_emails">
        <div id="home_computer_icon" class="icon"></div>
        <div id="home_email_text">SIGN UP FOR EMAIL UPDATES</div>
      </div>
    </a>

 <%= render "events" %>