<div class="body__overlay">
    <div class="overlay--container">
        <div class="overlay__image">
        </div>
        <div class="overlay__info">
            <div class="info__name">
                <h3 id="artistName"></h3>
            </div>
            <div class="info__website" id="artistWebsite">
            </div>
            <div class="info__city" id="artistCity">
            </div>
            <hr class="info__divider">
            <!-- <div class="info__concerts" id="artistConcerts">
            </div>
            <hr class="info__divider"> -->
            <div class="info__bio">
            </div>
        </div>
        <div class="overlay__close">
            <div class="close__icon">
                <img src="<%= image_url('close-icon.png') %>" srcset="<%= image_url('close-icon.png') %> 1x, <%= image_url('close-icon_2x.png') %> 2x" alt="close"/>
            </div>
        </div>
        <div class="overlay__prev">
            <div class="prev__icon">
                <img src="<%= image_url('left-arrow.png') %>" srcset="<%= image_url('left-arrow.png') %> 1x, <%= image_url('left-arrow_2x.png') %> 2x" alt="previous"/>
            </div>
        </div>
        <div class="overlay__next">
            <div class="next__icon">
                <img src="<%= image_url('right-arrow.png') %>" srcset="<%= image_url('right-arrow.png') %> 1x, <%= image_url('right-arrow_2x.png') %> 2x" alt="next"/>
            </div>
        </div>
    </div>
</div>
