<%= render "titles/default",
    :category => "INFO",
    :page => "Hotels"
%>

<div class="main__content">
    <div class="content__content content--hotels">
        <div class="about--text">
            <h3>HOTELS</h3>
            <p>
                Enjoy Lincoln Calling proper by taking advantage of special festival rates at some of the best hotels in downtown Lincoln!
            </p>
            <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Lincoln%20Calling%20Festival%20Rate-20%25%20Rate%20Discount%5Elpr%60lnkfs%60&app=resvlink&stop_mobi=yes" target="_blank">
                <h5>The Lincoln Marriott Cornhusker Hotel</h5>
            </a>
            <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Lincoln%20Calling%20Festival%20Rate-20%25%20Rate%20Discount%5Elpr%60lnkfs%60&app=resvlink&stop_mobi=yes" target="_blank">
                <img src="<%= image_url('cornhusker-image.jpg') %>"/>
            </a>
            <p>
                Located in downtown Lincoln, this upscale hotel is a 6-minute walk from Nebraska State Capitol, and an 8-minute walk from the University of Nebraska-Lincoln. Plus, the Cornhusker offers a complimentary shuttle to the downtown area.
            </p>
            <p>
                Classy contemporary rooms offer marble bathrooms and come with free WiFi, flat-screen TVs with premium channels, and desks with ergonomic chairs, as well as minifridges and coffeemakers. Some rooms have access to a lounge with free continental breakfast and evening appetizers. Suites have separate living areas with sofabeds.
            </p>
            <p>
                Amenities include a pub/American grill and a Starbucks, plus an indoor heated pool, fitness/business centers, 27 event rooms, and a free airport shuttle.
            </p>
            <a class="hotel--logo" href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Lincoln%20Calling%20Festival%20Rate-20%25%20Rate%20Discount%5Elpr%60lnkfs%60&app=resvlink&stop_mobi=yes" target="_blank">
            <img src="<%= image_url('cornhusker.png') %>"/>
            </a>
            <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Lincoln%20Calling%20Festival%20Rate-20%25%20Rate%20Discount%5Elpr%60lnkfs%60&app=resvlink&stop_mobi=yes" target="_blank" class="hotel--button">Book a room</a>
            <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Lincoln%20Calling%5Elnkcy%60LCNLCNA%7CLCNLCNB%60132.00%60USD%60false%604%6010/6/16%6010/8/16%6009/15/2016&app=resvlink&stop_mobi=yes">
                <h5>Courtyard by Marriott Lincoln Downtown/Haymarket</h5>
            </a>
            <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Lincoln%20Calling%5Elnkcy%60LCNLCNA%7CLCNLCNB%60132.00%60USD%60false%604%6010/6/16%6010/8/16%6009/15/2016&app=resvlink&stop_mobi=yes">
                <img src="<%= image_url('courtyard-image.jpg') %>"/>
            </a>
            <p>
                Set in the Historic Haymarket, this modern hotel is a 7-minute drive from the University of Nebraska and a 4.8-mile drive from Lincoln Airport.
            </p>
            <p>
                Contemporary rooms offer free WiFi and flat-screen TVs, plus desks, minifridges and coffeemakers. Some rooms offer pull-out sofas, as do suites, which also feature separate living areas and microwaves.
            </p>
            <p>
                Social spaces include a living room-style lobby, a courtyard with a fire pit, a BBQ/picnic area and an American restaurant. There's also a business center and 2 meeting rooms. Other amenities include an indoor pool, an exercise room and a free airport shuttle.
            </p>
            <a class="hotel--logo" href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Lincoln%20Calling%5Elnkcy%60LCNLCNA%7CLCNLCNB%60132.00%60USD%60false%604%6010/6/16%6010/8/16%6009/15/2016&app=resvlink&stop_mobi=yes" target="_blank">
            <img src="<%= image_url('courtyard.jpg') %>"/>
            </a>
            <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Lincoln%20Calling%5Elnkcy%60LCNLCNA%7CLCNLCNB%60132.00%60USD%60false%604%6010/6/16%6010/8/16%6009/15/2016&app=resvlink&stop_mobi=yes" target="_blank" class="hotel--button">Book a room</a>
            <a href="http://embassysuites3.hilton.com/en/hotels/nebraska/embassy-suites-by-hilton-lincoln-LNKESES/index.html" target="_blank">
                <h5>Embassy Suites Lincoln</h5>
            </a>
            <a href="http://embassysuites3.hilton.com/en/hotels/nebraska/embassy-suites-by-hilton-lincoln-LNKESES/index.html" target="_blank">
            <img src="<%= image_url('embassy-image.jpg') %>"/>
            </a>
            <p>
                Ideally located in the heart of downtown Lincoln, Nebraska, the Embassy Suites Lincoln hotel provides easy access to many of the city’s most popular attractions. Situated adjacent to the Lied Center for Performing Arts, the Historic Haymarket District and the University of Nebraska, this hotel is the ideal destination for extended stays or short breaks in Lincoln, NE. Corporate guests will appreciate the hotel’s proximity to many businesses and corporations as well as the fully equipped business center and meeting facilities.
            </p>
            <p>
                This majestic building is a centerpiece of Lincoln’s downtown area, offering an array of spacious and beautifully furnished suites and Executive rooms. Each stylish suite offers a private bedroom and separate living area with kitchenette, including mini-refrigerator, microwave and coffeemaker. Upgrade to an Executive Room for extra space, including a work area, dining table and elegant bathroom.
            </p>
            <p>
                Remain active during your stay and work out in the fitness center or swim laps in the indoor pool. Unwind in the soothing whirlpool and let stress melt away in the sauna.
            </p>
            <p>
                Every morning, you'll relish our complimentary cooked-to-order breakfast served in the beautiful open-air atrium. Join us in this lush, tropical setting for our nightly complimentary Evening Reception*, offering drinks and snacks. Savor American classics in Embassy Bar & Grille’s relaxed and inviting atmosphere.
            </p>
            <a class="hotel--logo" href="http://embassysuites3.hilton.com/en/hotels/nebraska/embassy-suites-by-hilton-lincoln-LNKESES/index.html" target="_blank">
            <img src="<%= image_url('embassy.png') %>"/>
            </a>
            <a href="http://embassysuites3.hilton.com/en/hotels/nebraska/embassy-suites-by-hilton-lincoln-LNKESES/index.html" target="_blank" class="hotel--button">Book a room</a>
        </div>
    </div>
    <div class="content__divider">
    </div>
    <section class="content__sidebar">
        <%= render "sidebars/email" %>
        <%= render "sidebars/events" %>
    </section>
</div>
