<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">


<!-- facebook sharing  -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- twitter sharing  -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<%= render "flashes" -%>

<div class="wrapper">
    <header class="body__header">
        <a href="/">
            <div class="header__title">
                <img src="<%= image_url('amp.png') %>" srcset="<%= image_url('amp.png') %> 1x, <%= image_url('amp_2x.png') %> 2x" alt="amp"/>
                <img src="<%= image_url('lincoln-calling.png') %>" srcset="<%= image_url('lincoln-calling.png') %> 1x, <%= image_url('lincoln-calling_2x.png') %> 2x" alt="Lincoln Calling"/>
            </div>
        </a>
        <nav class="header__nav">
            <ul class="nav__links">
                <li class="links__link">
                    <a href="/tickets">TICKETS</a>
                </li>
                <li class="links__link">
                    <a href="/lineup">LINEUP</a>
                </li>
                <li class="links__link">
                    <a href="/info">INFO</a>
                </li>
                <li class="links__link">
                    <a href="/news">NEWS</a>
                </li>
                <li class="links__link">
                    <a href="/sponsors">SPONSORS</a>
                </li>
            </ul>
            <div class="nav__hear-nebraska">
                <span>produced by</span>
                <a href="http://hearnebraska.org" target="_blank">
                    <img src="<%= image_url('hear-nebraska.png') %>" srcset="<%= image_url('hear-nebraska.png') %> 1x, <%= image_url('hear-nebraska_2x.png') %> 2x" alt="Hear Nebraska"/>
                </a>
            </div>
        </nav>
        <div class="header__menu">
            <div class="menu__down">
            </div>
            <h4>OPEN MENU</h4>
            <div class="menu__down">
            </div>
        </div>
    </header>
  
<%= yield %>

    <footer class="body__footer">
        <div class="footer__sponsors">
            <div class="sponsors__label">
                SPONSORS:
            </div>
            <div class="sponsors__sponsors">
                <div class="sponsors__sponsor">
                    <img src="<%= image_url('firespring.png') %>" srcset="<%= image_url('firespring.png') %> 1x, <%= image_url('firespring_2x.png') %> 2x" alt="Firespring"/>
                </div>
                <div class="sponsors__sponsor">
                    <img src="<%= image_url('hudl.png') %>" srcset="<%= image_url('hudl.png') %> 1x, <%= image_url('hudl_2x.png') %> 2x" alt="Hudl"/>
                </div>
                <div class="sponsors__sponsor">
                    <img src="<%= image_url('bulu-box.png') %>" srcset="<%= image_url('bulu-box.png') %> 1x, <%= image_url('bulu-box_2x.png') %> 2x" alt="Bulu Box"/>
                </div>
            </div>
        </div>
        <div class="footer__code-school">
            <div class="code-school__label">
                SITE BY:
            </div>
            <div class="code-school__logo">
                <a href="http://www.omahacodeschool.com" target="_blank">
                    <img src="<%= image_url('omaha-code-school.png') %>" srcset="<%= image_url('omaha-code-school.png') %> 1x, <%= image_url('omaha-code-school_2x.png') %> 2x"/>
                </a>
            </div>
        </div>
    </footer>
</div>

  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
