<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render "flashes" -%>
  <div class="container-full nav_bar">
    <div class="orange_box">
    LINCOLN CALLING
    </div>
    <div class="nav_menu clear">
      <div class="nav_menu__arrow-up">^</div>
      <div class="nav_menu__title">CLOSE MENU</div>
      <div class="nav_menu__arrow-up">^</div>
    </div>
    <div class="row nav_bar">
      <div class="col-6 left_menu">
        <a href="#" class="nav_bar__link">TICKETS</a>
        <a href="#" class="nav_bar__link">ARTISTS</a>
        <a href="#" class="nav_bar__link">SCHEDULE</a>
        <a href="#" class="nav_bar__link">VENUE MAP</a>
      </div>
      <div class="col-6 right_menu">
        <a href="#" class="nav_bar__link">FAQ</a>
        <a href="#" class="nav_bar__link">ABOUT</a>
        <a href="#" class="nav_bar__link">NEWS</a>
        <a href="#" class="nav_bar__link">SPONSORS</a>
      </div>
      <a href="#" id="visitor">VISITORS GUIDE</a>
    </div>
  </div>
</div>
  
<%= yield %>

<div class="clear">

  <div class="footer_top col-3">
    <div class="footer_top__sponsor">SPONSORS:</div>
  </div>
  
  <div class="footer_top col-3">
    <div class="footer_top__sponsor_logo">LOGO</div>
  </div>
  
  <div class="footer_top col-3">
    <div class="footer_top__sponsor_logo">LOGO</div>
  </div>
  
  <div class="footer_top col-3">
    <div class="footer_top__sponsor_logo">LOGO</div>
  </div>
</div>

<div class="clear">

  <div class="footer_bottom">
    <div class="footer_bottom__site_creator">SITE BY: OCS</div>
  </div>

</div>

  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
