<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render "flashes" -%>
  <div class="clear">
    <div class="col-12-tablet">
      <div class="orange_box">
        <div class="orange_box__icon icon"></div>
        <div class="orange_box__text">LINCOLN CALLING</div>
      </div>
    </div>
  </div>
  <div class="clear">
    <div class="col-12-tablet">
      <div class="nav_bar" id="collapsable_nav">
        <div class="col-4">
          <div id="triangle_left" class="triangle_down triangle_down--left"></div>
        </div>
        <div class="col-4">
          <div class="nav_bar__text" id="collapsable_nav_link_text">OPEN MENU</div>
        </div>
        <div class="col-4">
          <div id="triangle_right" class="triangle_down"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="clear is_hidden" id="collapsable_nav_contents">
    <div class="col-12-tablet">
      <div class="nav_bar_menu">
        <div class="col-6 nav_bar__menu_left">
          <a href="#" class="nav_bar_menu__link">TICKETS</a>
          <a href="/pages/artist_gallery" class="nav_bar_menu__link">ARTISTS</a>
          <a href="#" class="nav_bar_menu__link">SCHEDULE</a>
          <a href="/pages/info_venue_map" class="nav_bar_menu__link">VENUE MAP</a>
          <a href="/pages/visitor" class="nav_bar_menu__link">VISITORS GUIDE</a>
        </div>
        <div class="col-6 nav_bar__menu_right">
          <a href="/pages/faq" class="nav_bar_menu__link">FAQ</a>
          <a href="/pages/about" class="nav_bar_menu__link">ABOUT</a>
          <a href="/pages/news" class="nav_bar_menu__link">NEWS</a>
          <a href="/pages/sponsors" class="nav_bar_menu__link">SPONSORS</a>
        </div>
      </div>
    </div>
  </div>

  
<%= yield %>

<div class="clear">
  <div class="footer">

    <div class="footer_top col-3 col-3-tablet">
      <div class="footer_top__sponsor_text">SPONSORS:</div>
    </div>
    
    <div class="footer_top col-3 col-3-tablet">
      <div class="footer_top__sponsor_logo icon"></div>
    </div>
    
    <div class="footer_top col-3 col-3-tablet">
      <div class="footer_top__sponsor_logo icon"></div>
    </div>
    
    <div class="footer_top col-3 col-3-tablet">
      <div class="footer_top__sponsor_logo icon"></div>
    </div>

  <div class="clear">

    <div class="footer_bottom">MADE BY
      <img class="footer_bottom__site_creator" src="/assets/ocs.png">
    </div>
  </div>
</div>

  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
